AZURE_KEY_VAULT_URL=https://paymatixkeyvault.vault.azure.net/
AZURE_OPENAI_ENDPOINT_SECRET=polga-llm-endpoint
AZURE_OPENAI_API_KEY_SECRET=polga-api-key
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini

POSTGRES_HOST_SECRET=polga-postgres-host
POSTGRES_DATABASE_SECRET=polga-postgres-db
POSTGRES_USER_SECRET=polga-postgres-user
POSTGRES_PASSWORD_SECRET=polga-postgres-password
POSTGRES_PORT_SECRET=polga-postgres-port

SECRET_KEY=replace-with-a-long-random-secret
ALGORITHM=HS256